Library/Service References/libraryService/LibraryManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1506/LibraryManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1506/LibraryManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1506/LibraryManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryManager_AddNewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_AddNewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_RetriveBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:RetriveBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryManager_RetriveBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetriveBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryManager">
    <wsdl:operation name="AddNewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/AddNewBook" message="tns:ILibraryManager_AddNewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/AddNewBookResponse" message="tns:ILibraryManager_AddNewBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetriveBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryManager/RetriveBooks" message="tns:ILibraryManager_RetriveBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryManager/RetriveBooksResponse" message="tns:ILibraryManager_RetriveBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryManager" type="tns:ILibraryManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/AddNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetriveBooks">
      <soap:operation soapAction="http://tempuri.org/ILibraryManager/RetriveBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryManagerService">
    <wsdl:port name="BasicHttpBinding_ILibraryManager" binding="tns:BasicHttpBinding_ILibraryManager">
      <soap:address location="http://localhost:1506/LibraryManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>